<div class="row">
    <div class="box col-lg-offset-2 col-lg-8">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Kanto <strong>Pokedex</strong></h2>
            <hr>
            <div class="row">
              <div class="col-md-3 col-sm-4 col-xs-6">
                <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png" style="width: 100%">
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/002.png" style="width: 100%">
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/003.png" style="width: 100%">
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png" style="width: 100%">
              </div>

              <div class="col-md-3 col-sm-4 col-xs-6">
                <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/005.png" style="width: 100%">
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/006.png" style="width: 100%">
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png" style="width: 100%">
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/008.png" style="width: 100%">
              </div>

              <div class="col-md-3 col-sm-4 col-xs-6">
                <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/009.png" style="width: 100%">
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/010.png" style="width: 100%">
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/011.png" style="width: 100%">
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/012.png" style="width: 100%">
              </div>

              <div class="col-md-3 col-sm-4 col-xs-6">
                <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/013.png" style="width: 100%">
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/014.png" style="width: 100%">
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/015.png" style="width: 100%">
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <img src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/016.png" style="width: 100%">
              </div>
            </div>
        </div> <!-- end col-lg-12 -->
    </div> <!-- end .box -->
</div> <!-- end .row -->
